<a href="https://colab.research.google.com/github/alunga20/Practice/blob/main/python_solns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Question 3
Level 1

Question:
With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.
Suppose the following input is supplied to the program:
8
Then, the output should be:
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.
Consider use dict()

In [ ]:
n= int(input("input a no: "))
d= {}

for i in range(1, n+1):
    d[i] = i*i
    
print(d)

input a no: 8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

### Question 8
Level 2

Question:
Write a program that accepts a comma separated sequence of words as input and prints the words in a comma-separated sequence after sorting them alphabetically.
Suppose the following input is supplied to the program:
without,hello,bag,world
Then, the output should be:
bag,hello,without,world

Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.

In [ ]:
words = input("word sequence: ")
splited_words = words.split(",")
splited_words.sort()
print((',').join(splited_words))

word sequence: without, hello, bag, world
 bag, hello, world,without

### Question 13
Level 2

Question:
Write a program that accepts a sentence and calculate the number of letters and digits.
Suppose the following input is supplied to the program:
hello world! 123
Then, the output should be:
LETTERS 10
DIGITS 3

Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.

In [ ]:
sentence = input("Write a sentence: ")
d=l=0
for x in sentence:
    if x.isdigit():
        d=d+1
    elif x.isalpha():
        l=l+1
    else:
        pass
print("LETTERS", l)
print("DIGITS", d)

Write a sentence: code is life, 2022
LETTERS 10
DIGITS 4

### Question 15
Level 2

Question:
Write a program that computes the value of a+aa+aaa+aaaa with a given digit as the value of a.
Suppose the following input is supplied to the program:
9
Then, the output should be:
11106

Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.

In [ ]:
n=input('enter a num:')
output=0
for i in range(1,5):
    a=n*i
    new=int(a)
    output=output+new
print(output)

enter a num:99
101010096

### Question 25
Level 1

Question:
Define a class, which have a class parameter and have a same instance parameter.

Hints:
Define a instance parameter, need add it in __init__ method
You can init a object with construct parameter or set the value later

In [6]:
class Car:
    name = "Car"

    def __init__(self,name = None):
        self.name = name

honda=Car("Honda")
print("%s name is %s"%(Car.name,honda.name))

toyota=Car()
toyota.name="Toyota"
print("%s name is %s"%(Car.name,toyota.name))

Car name is Honda
Car name is Toyota

### Question 28
Define a function that can convert a integer into a string and print it in console.

Hints:

Use str() to convert a number to string.

In [ ]:
hour = 11
statement = 'This is the ' + str(hour) + 'th hour of the day.'
print(statement)

This is the 11th hour of the day.

### Question 38
Define a function which can generate a list where the values are square of numbers between 1 and 20 (both included). Then the function needs to print the first 5 elements in the list.

Hints:

Use ** operator to get power of a number.
Use range() for loops.
Use list.append() to add values into a list.
Use [n1:n2] to slice a list

In [ ]:
def printList():
	li=list()
	for i in range(1,21):
		li.append(i**2)
	print (li[-5:])

printList()

[256, 289, 324, 361, 400]

### Question 43
Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10). 

Hints:

Use "for" to iterate the tuple
Use tuple() to generate a tuple from a list.

In [ ]:
tpl = (1,2,3,4,5,6,7,8,9,10)
tpl1 = tuple(i for i in tpl if i%2 == 0)
print(tpl1)

(2, 4, 6, 8, 10)

### Question 44
Write a program which accepts a string as input to print "Yes" if the string is "yes" or "YES" or "Yes", otherwise print "No". 

Hints:

Use if statement to judge condition.

In [ ]:
text = input('Type something; ')
if text =='yes' or text == 'Yes' or text == 'YES' :
   print('Yes')
else:
   print('No')

Type something; time
No